header {
    .carousel-item {
        width: 100%;
        background: no-repeat center center scroll;
        background-size: auto;
    }

    .carousel-indicators li {
        border-radius: 50%;
        height: 16px;
        width: 16px;
        margin: 0 5px;
    }
}

.portfolio-link {
    position: relative;
    display: inline-block;
    background: white;
    overflow: hidden;

    * {
        @include easeOut;
    }

    a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .caption {
        position: absolute;
        left: 50%;
        bottom: 50%;
        width: 100%;
        transform: translate(-50%, 50%);

        h3 {
            opacity: 0;
            color: $primary;
            font-size: 38px;
            text-align: center;
            @include script-font;
        }
    }

    img {
        min-height: 100%;
    }

    &:hover,
    &:focus {
        img {
            opacity: 0.2;
            transform: scale(1.2);
        }

        h3 {
            opacity: 1;
        }
    }
}

// Media Queries
@include mediaSm {
    header {
        margin-top: 50px;

        .carousel-indicators {
            display: none;
        }
    }

    .col-md-4,
    .col-md-6 {
        .portfolio-link {
            height: 224px !important;
        }
    }
}

@include mediaMd {
    header {
        margin-top: 50px;

        .carousel-indicators {
            display: none;
        }
    }

    .col-md-6 {
        .portfolio-link {
            height: 224px !important;
        }
    }

    .col-md-4 {
        .portfolio-link {
            height: 147px !important;
        }
    }
}

@include mediaLg {
    header {
        height: 100vh;
        margin-top: 0;

        .carousel-item {
            height: 100vh;
        }
    }

    .col-md-6 {
        .portfolio-link {
            height: 373px !important;
        }
    }

    .col-md-4 {
        .portfolio-link {
            height: 247px !important;
        }
    }
}
