#mainNav {
    background-color: transparent;
    @include easeOut;

    .fa-bars {
        color: white;
        @include easeOut;
    }

    .navbar-brand {
        img {
            @include easeOut;
        }

        #logo-img {
            height: 50px;
        }

        #logo-name {
            height: 36px;
            margin-left: 10px;
        }
    }

    .navbar-nav {
        .nav-item {
            &:hover > .dropdown-menu {
                display: block;
            }

            &.dropdown .nav-link {
                cursor: default;
            }

            .nav-link {
                padding: 1.1em 1em;
                letter-spacing: 1px;
                color: white;
                @include heading-font;
                @include easeOut;

                &.active,
                &:hover {
                    color: $primary;
                }
            }

            .dropdown-menu {
                left: 50%;
                transform: translateX(-50%);
                top: 90%;
                border-radius: 3px;
                background: white;
                border: none;
                @include easeOut;

                .dropdown-item {
                    text-align: center;
                    color: $grey;
                    @include heading-font;
                    @include easeOut;

                    &:hover,
                    &.active {
                        background: white;
                        color: $primary;
                    }
                }
            }
        }
    }

    &.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(white, 0.95) !important;
        box-shadow: 0 1px 5px rgba(black, 0.2);

        .fa-bars {
            color: $black;
        }

        .navbar-brand {
            #logo-img {
                height: 40px;
            }

            #logo-name {
                height: 28px;
            }
        }

        .nav-link {
            color: $grey !important;

            &:hover,
            &.active {
                color: $primary !important;
            }
        }
    }
}

// Mobile devices
@include mediaMd {
    #mainNav {
        .navbar-collapse {
            .dropdown-menu {
                left: 50% !important;
                transform: translateX(0) !important;
                background: transparent !important;
                padding: 0;

                .dropdown-item {
                    text-align: left !important;
                }
            }
        }
    }
}

@include mediaSm {
    #mainNav {
        .navbar-collapse {
            .dropdown-menu {
                left: 50% !important;
                transform: translateX(0) !important;
                background: transparent !important;
                padding: 0;

                .dropdown-item {
                    text-align: left !important;
                }
            }
        }

        .navbar-brand {
            #logo-name {
                height: 28px !important;
            }
        }
    }
}
